<template lang="pug" src="./html/Myo.pug"></template>

<script>
  import * as PIXI from 'pixi.js'
  import * as TweenMax from 'gsap'
  import EventBus from './../event-bus'

  let myo = {
    tryToConnect: function (vm) {
      if (vm) {
        this.vm = vm
      }
      if (window.Myo) {
        console.log("Myo: found")
        myo.setup()
      } else {
        console.log("Myo: trying to connect")
        setTimeout(myo.tryToConnect, 500)
      }
    },
    setup: function () {
      console.log('setup', this.vm)
      Myo = window.Myo
//      Myo.on('accelerometer', function () {
//        console.log("Myo: accelerometer")
//      })
      Myo.on('arm_synced', function () {
        console.log("Myo: arm_synced")
      })
      Myo.on('arm_unsynced', function () {
        console.log("Myo: arm_unsynced")
      })
      Myo.on('bluetooth_strength', function () {
        console.log("Myo: bluetooth_strength")
      })
      Myo.on('connected', function () {
        console.log("Myo: connected", arguments)
      })
      Myo.on('disconnected', function () {
        console.log("Myo: disconnected")
      })
      Myo.on('emg', function () {
        console.log("Myo: emg")
      })
//      Myo.on('gyroscope', function () {
//        console.log("Myo: gyroscope")
//      })
      Myo.on('imu', function (data) {
//        console.log("Myo: imu", arguments)



//        console.log(myo.vm.c1.x, data.gyroscope.x)

        myo.vm.c1.x += data.gyroscope.y
        myo.vm.c1.y -= data.gyroscope.x
        if (myo.vm.c1.x < 0) {
          myo.vm.c1.x = 0
        }
        if (myo.vm.c1.x > window.innerWidth) {
          myo.vm.c1.x = window.innerWidth
        }
        if (myo.vm.c1.y < 0) {
          myo.vm.c1.y = 0
        }
        if (myo.vm.c1.y > window.innerHeight) {
          myo.vm.c1.y = window.innerHeight
        }




//        myo.vm.c1.y = window.innerHeight >> 1 + (data.gyroscope.y * 100)
//        myo.vm.scaleX = myo.vm.scaleY += data.accelerometer.z

//        data.gyroscope.x
//        data.gyroscope.y
//        data.gyroscope.z
//
//        data.orientation.w
//        data.orientation.x
//        data.orientation.y
//        data.orientation.z

        myo.vm.render()

//        Myo.off('imu')
      })
      Myo.on('lock', function () {
        console.log("Myo: lock")
      })
//      Myo.on('orientation', function () {
//        console.log("Myo: orientation")
//      })
//      Myo.on('pose', function () {
//        console.log("Myo: pose")
//      })
//      Myo.on('pose_off', function () {
//        console.log("Myo: pose_off")
//      })
      Myo.on('rest', function () {
        console.log("Myo: rest")
      })
      Myo.on('rssi', function () {
        console.log("Myo: rssi")
      })
      Myo.on('status', function (evt) {
        console.log("Myo: status", evt)
      })
      Myo.on('unlock', function () {
        console.log("Myo: unlock")
      })
      Myo.on('warmup_completed', function () {
        console.log("Myo: warmup_completed")
      })

      // Init
      Myo.connect('com.stolksdorf.myAwesomeApp')
    }
  }


  export default {
    name: 'myo-demo',
    beforeCreate () {
      console.log('beforeCreate')
    },
    created () {
      console.log('created')
    },
    beforeMount () {
      console.log('beforeMount')
    },
    mounted () {
      console.log('mounted')
      // Setup
      let vm = this
      vm.setupStage()

      let renderer = this.renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight, {
        transparent: false,
        backgroundColor: 0x0000FF,
        resolution: 1,
        view: this.$el.childNodes[0],
        antialias: true,
        roundPixels: true
      })

      // Events
      EventBus.$on('onWindowResize', function (w, h) {
        renderer.resize(w, h)
        vm.render()
      })
    },
    beforeUpdate () {
      console.log('beforeUpdate')
    },
    updated () {
      console.log('updated')
    },
    beforeDestroy () {
      console.log('beforeDestroy')
    },
    destroyed () {
      console.log('destroyed')
    },
    methods: {
      setupStage () {
        let stage = this.stage = new PIXI.Container()

        let c1 = this.c1 = new PIXI.Graphics()
        c1.beginFill(0xFF0000)
        c1.drawCircle(0, 0, 200)
        c1.endFill()
        c1.width = c1.height = 100
        c1.x = window.innerWidth >> 1
        c1.y = window.innerHeight >> 1

        stage.addChild(c1)


        // Init
        this.render()
        this.animLoop()
        myo.tryToConnect(this)
      },
      render () {
        if (this.stage && this.renderer) this.renderer.render(this.stage)
      },
      animLoop () {
        window.requestAnimationFrame(this.animLoop)
        this.render()
      }
    },
    data () {
      return {
        msg: 'Myo'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
